<!-- ======= Footer ======= -->
<footer class="footer" role="contentinfo">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 social m-auto text-center">
				<a target="_blank" href="https://wa.me/87471117329?text=Мне%20нужен%20сайт"><span
						class="bi bi-whatsapp"></span></a>
				<a target="_blank" href="https://www.instagram.com/_therealmanc/?hl=ru"><span
						class="bi bi-instagram"></span></a>
				<a href="#"><span class="bi bi-telegram"></span></a>
			</div>
		</div>
	</div>
</footer>